---
import "@fontsource/inter/variable.css";
import Stepper from "~/components/stepper.astro";
import Features from "~/components/features.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/new-layout/intro.astro";
import Presentation from "~/components/new-layout/presentation.astro";
import CommunityCta from "~/components/new-layout/communitycta.astro";
import LucyCta from "~/components/new-layout/lucycta.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";
import Lucyvideo from "~/components/new-layout/lucyvideo.astro";

const { generator, site } = Astro;
const image = new URL("social.jpeg", site);
const description =
  "Lucy, comunicação inteligente. Uma inteligência artificial personalizada para a sua comunidade. A Lucy é uma inteligência artificial desenvolvida para melhorar a sua experiência no Discord.";
---

<!DOCTYPE html>
<html lang="pt-BR" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="generator" content={generator} />

    <title>Lucy</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Lucy" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VZZFLHWJ26"
    ></script><script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-VZZFLHWJ26");
    </script>

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <Intro />
      <Presentation />
      <CommunityCta />
      <Features />
      <Lucyvideo />
      <LucyCta />
      <Stepper />
      <Showcase />
    </div>
    <Footer />
  </body>
</html>
